.footer {
  padding: 1.5rem 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: var(--color-fg, #111827);

  strong {
    color: var(--primaryColor, #0c2c94);
  }

  a {
    color: var(--primaryColor, #0c2c94);
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
