.hamburgerButton {
  display: none; /* Hidden by default, shown on mobile */
  flex-direction: column;
  justify-content: space-around;
  width: 2rem;
  height: 2rem;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  z-index: 110; /* Above the overlay */
}

.hamburgerButton:focus {
  outline: none;
}

@media (width < 768px) {
  .hamburgerButton {
    display: flex;
  }
}

.bar {
  width: 2rem;
  height: 0.25rem;
  background: var(--primaryColor, #0c2c94);
  border-radius: 10px;
  transition: all 0.3s linear;
  position: relative;
  transform-origin: 1px;
}

.topBar.isOpen {
  transform: rotate(45deg);
}

.middleBar.isOpen {
  opacity: 0;
  transform: translateX(20px);
}

.bottomBar.isOpen {
  transform: rotate(-45deg);
}
